* {
    padding: 0px;
    margin: 0px;
}
::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}
body {
    background-color: black;
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    height: 100vh;
}
#botao {
    width: 100vw;
    height: 100vh;
    text-align: end;

}
.boto {
    height: 50px;
    width: 50px;
    border-radius: 45%;
    margin-top: 30px ;
    margin-right: 20px;
    transition: all 0.3 ease-in-out 0s;

}
.boto:hover {
    border: solid 3px lightgray;
    transform: translate(-5px, -5px);
    transition: all 0.3s ease-in-out 0s;
}
#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 471px;
    width: 268px;
}